* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 50%;
  text-align: center;
  align-items: center;
  margin-left: 20%;
}

button {
  padding: 6px;
}
